<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
	<settings>
		<setting useStatementNamespaces="false"/>
		<setting cacheModelsEnabled="true"/>
	</settings>

	<database>
		<provider name="sqlServer2.0"/>
		<dataSource name="Aleatorik" connectionString="${connectionString}"/>
	</database>
  
	<alias>
		<!--
				기준 정보 관리
		-->
		<typeAlias alias="MdmStageMaster" type="AleatorikUI.Services.DTO.mdm.MdmStageMaster, AleatorikUI.Services"/>						<!-- 스테이지		-->
		<typeAlias alias="MdmSiteMaster" type="AleatorikUI.Services.DTO.mdm.MdmSiteMaster, AleatorikUI.Services"/>							<!-- 사이트		-->
		<typeAlias alias="MdmAllocGroupMaster" type="AleatorikUI.Services.DTO.mdm.MdmAllocGroupMaster, AleatorikUI.Services"/>				<!-- 할당그룹		-->
		<typeAlias alias="MdmFactoryConfig" type="AleatorikUI.Services.DTO.mdm.MdmFactoryConfig, AleatorikUI.Services"/>					<!-- 공장운영정보	-->
		<typeAlias alias="MdmCodeCategoryMaster" type="AleatorikUI.Services.DTO.mdm.MdmCodeCategoryMaster, AleatorikUI.Services"/>			<!-- 코드 그룹 	-->
		<typeAlias alias="MdmCodeMaster" type="AleatorikUI.Services.DTO.mdm.MdmCodeMaster,	AleatorikUI.Services"/>							<!-- 코드 관리	-->
		<typeAlias alias="MdmPropMaster" type="AleatorikUI.Services.DTO.mdm.MdmPropMaster, AleatorikUI.Services"/>							<!-- 속성 관리	-->
        <!-- -->																									 
        <typeAlias alias="MdmItemMaster" type="AleatorikUI.Services.DTO.mdm.MdmItemMaster, AleatorikUI.Services"/>							<!-- 품목 정보	-->
		<typeAlias alias="MdmItemProp" type="AleatorikUI.Services.DTO.mdm.MdmItemProp, AleatorikUI.Services"/>
        <typeAlias alias="MdmBufferMaster" type="AleatorikUI.Services.DTO.mdm.MdmBufferMaster, AleatorikUI.Services"/>						<!-- 버퍼 정보	-->
		<typeAlias alias="MdmBufferProp" type="AleatorikUI.Services.DTO.mdm.MdmBufferProp, AleatorikUI.Services"/>
        <typeAlias alias="MdmItemSiteBufferMaster" type="AleatorikUI.Services.DTO.mdm.MdmItemSiteBufferMaster, AleatorikUI.Services"/>		<!-- ISB 정보	-->
		<typeAlias alias="MdmItemSiteBufferProp" type="AleatorikUI.Services.DTO.mdm.MdmItemSiteBufferProp, AleatorikUI.Services"/>
        <typeAlias alias="MdmBomMaster" type="AleatorikUI.Services.DTO.mdm.MdmBomMaster, AleatorikUI.Services"/>							<!-- BOM MASTER	-->
        <typeAlias alias="MdmBomDetail" type="AleatorikUI.Services.DTO.mdm.MdmBomDetail, AleatorikUI.Services"/>							<!-- BOM DETAIL	-->
        <typeAlias alias="MdmBomDetailAlt" type="AleatorikUI.Services.DTO.mdm.MdmBomDetailAlt, AleatorikUI.Services"/>						<!-- BOM DETAIL ALT		-->
        <typeAlias alias="MdmBomProp" type="AleatorikUI.Services.DTO.mdm.MdmBomProp, AleatorikUI.Services"/>								<!-- BOM PROPERTY VALUE	-->
        <typeAlias alias="MdmBomRouting" type="AleatorikUI.Services.DTO.mdm.MdmBomRouting, AleatorikUI.Services"/>							<!-- BOM ROUTING	-->
        <typeAlias alias="MdmBomRoutingProp" type="AleatorikUI.Services.DTO.mdm.MdmBomRoutingProp, AleatorikUI.Services"/>					<!-- BOM ROUTING PROPERTY VALUE	-->		
        <typeAlias alias="MdmRoutingMaster" type="AleatorikUI.Services.DTO.mdm.MdmRoutingMaster, AleatorikUI.Services"/>					<!-- ROUTING MASTER		-->
        <typeAlias alias="MdmRoutingOper"  type="AleatorikUI.Services.DTO.mdm.MdmRoutingOper,	AleatorikUI.Services"/>						<!-- ROUTING OPERATION		-->
        <typeAlias alias="MdmRoutingOperProp" type="AleatorikUI.Services.DTO.mdm.MdmRoutingOperProp, AleatorikUI.Services"/>				<!-- ROUTING OPERATION PROPERTY VALUE	-->
        <!-- -->																									 
        <typeAlias alias="MdmWip" type="AleatorikUI.Services.DTO.mdm.MdmWip, AleatorikUI.Services"/>										<!-- 재공 정보		-->
        <!-- -->																									 
        <typeAlias alias="MdmDemand" type="AleatorikUI.Services.DTO.mdm.MdmDemand, AleatorikUI.Services"/>									<!-- DEMAND 정보	-->
		<typeAlias alias="MdmDemandProp" type="AleatorikUI.Services.DTO.mdm.MdmDemandProp, AleatorikUI.Services"/>
        <typeAlias alias="MdmCustMaster" type="AleatorikUI.Services.DTO.mdm.MdmCustMaster, AleatorikUI.Services"/>							<!-- 고객 정보		-->
		<typeAlias alias="MdmCustProp" type="AleatorikUI.Services.DTO.mdm.MdmCustProp, AleatorikUI.Services"/>
		<!-- 고객 정보		-->
        <!-- -->																									 
        <typeAlias alias="MdmResGroupMaster" type="AleatorikUI.Services.DTO.mdm.MdmResGroupMaster, AleatorikUI.Services"/>					<!-- RESOURCE GROUP MASTER	-->
		<typeAlias alias="MdmResMaster" type="AleatorikUI.Services.DTO.mdm.MdmResMaster, AleatorikUI.Services"/>							<!-- RESOURCE MASTER		-->
        <typeAlias alias="MdmOperRes" type="AleatorikUI.Services.DTO.mdm.MdmOperRes, AleatorikUI.Services"/>								<!-- OPERATION RESOURCE	-->
        <typeAlias alias="MdmOperResProp" type="AleatorikUI.Services.DTO.mdm.MdmOperResProp, AleatorikUI.Services"/>						<!-- OPERATION RESOURCE PROPERTY VALUE	-->
		<typeAlias alias="MdmOperAddRes" type="AleatorikUI.Services.DTO.mdm.MdmOperAddRes, AleatorikUI.Services"/>							<!-- OPERATION ADD RESOURCE	-->
		<typeAlias alias="MdmOperAddResProp" type="AleatorikUI.Services.DTO.mdm.MdmOperAddResProp, AleatorikUI.Services"/>					<!-- OPERATION ADD RESOURCE PROPERTY VALUE	-->		
        <typeAlias alias="MdmConstraint" type="AleatorikUI.Services.DTO.mdm.MdmConstraint, AleatorikUI.Services"/>							<!-- CONSTRAINT INFO	-->
        <typeAlias alias="MdmPmPlan" type="AleatorikUI.Services.DTO.mdm.MdmPmPlan, AleatorikUI.Services"/>									<!-- PM PLAN			-->
        <typeAlias alias="MdmSetupInfo" type="AleatorikUI.Services.DTO.mdm.MdmSetupInfo, AleatorikUI.Services"/>							<!-- SETUP INFO			-->
        <!-- -->																									 
        <typeAlias alias="MdmCalendarMaster" type="AleatorikUI.Services.DTO.mdm.MdmCalendarMaster, AleatorikUI.Services"/>					<!-- 캘린더마스터			-->
        <typeAlias alias="MdmCalendarDetail" type="AleatorikUI.Services.DTO.mdm.MdmCalendarDetail, AleatorikUI.Services"/>					<!-- 캘린더상세정보		-->
        <typeAlias alias="MdmCalendarBasedAttr" type="AleatorikUI.Services.DTO.mdm.MdmCalendarBasedAttr, AleatorikUI.Services"/>			<!-- 캘린더속성값 관리		-->
		<!--
				계획 관리
		-->
		<typeAlias alias="PlmFactorMaster" type="AleatorikUI.Services.DTO.plm.PlmFactorMaster, AleatorikUI.Services"/>						<!-- PM PLAN		-->
		<typeAlias alias="PlmPlanExecuteInfo"			type="AleatorikUI.Services.DTO.plm.PlmPlanExecuteInfo,			AleatorikUI.Services"/>

		<!--
				결과분석 및 리포트
		-->
		<typeAlias alias="AorBomMapInfo" type="AleatorikUI.Services.DTO.rar.AorBomMapInfo, AleatorikUI.Services"/> 							<!-- BOM Map View -->
		<typeAlias alias="AorBomMapParam" type="AleatorikUI.Services.DTO.rar.AorBomMapParam, AleatorikUI.Services"/>
		<typeAlias alias="AorBomMapSub1" type="AleatorikUI.Services.DTO.rar.AorBomMapSub1, AleatorikUI.Services"/>
		<!--
				입력/결과 데이터 조회
		-->

		<!--
		-->
		<typeAlias alias="SamUserInfo" type="AleatorikUI.Services.DTO.sam.SamUserInfo, AleatorikUI.Services"/>
		<typeAlias alias="SamGroupInfo" type="AleatorikUI.Services.DTO.sam.SamGroupInfo, AleatorikUI.Services"/>
		<typeAlias alias="SamAuthInfo" type="AleatorikUI.Services.DTO.sam.SamAuthInfo, AleatorikUI.Services"/>
		<typeAlias alias="SamMenuInfo" type="AleatorikUI.Services.DTO.sam.SamMenuInfo, AleatorikUI.Services"/>
		<typeAlias alias="SamMenuMapInfo" type="AleatorikUI.Services.DTO.sam.SamMenuMapInfo, AleatorikUI.Services"/>
		<!--
				예제
		-->
		<typeAlias alias="TodoInfo" type="AleatorikUI.Services.DTO.exp.TodoInfo, AleatorikUI.Services"/>
		<typeAlias alias="ResourceGantInfos" type="AleatorikUI.Services.DTO.exp.ResourceGantInfos, AleatorikUI.Services"/>
		<typeAlias alias="ProductionGantInfos" type="AleatorikUI.Services.DTO.exp.ProductionGantInfos, AleatorikUI.Services"/>
		<typeAlias alias="GetResourceGanttInfo" type="AleatorikUI.Services.DTO.exp.GetResourceGanttInfo, AleatorikUI.Services"/>
		<typeAlias alias="GetResourceGanttData" type="AleatorikUI.Services.DTO.exp.GetResourceGanttData, AleatorikUI.Services"/>
		<typeAlias alias="GetProductionGanttInfo" type="AleatorikUI.Services.DTO.exp.GetProductionGanttInfo, AleatorikUI.Services"/>
		<typeAlias alias="GetProductionGanttData" type="AleatorikUI.Services.DTO.exp.GetProductionGanttData, AleatorikUI.Services"/>
    <typeAlias alias="TrEmployee"				  type="AleatorikUI.Services.DTO.exp.TrEmployee,				  AleatorikUI.Services"/>
	</alias>

	<sqlMaps>
		<!--
				기준 정보 관리
		-->
		<sqlMap resource="./Sqls/mdm/MdmStageMaster.sqlFile.xml"/>
		<sqlMap resource="./Sqls/mdm/MdmSiteMaster.sqlFile.xml"/>
		<sqlMap resource="./Sqls/mdm/MdmAllocGroupMaster.sqlFile.xml"/>
		<sqlMap resource="./Sqls/mdm/MdmFactoryConfig.sqlFile.xml"/>
		<sqlMap resource="./Sqls/mdm/MdmCodeCategoryMaster.sqlFile.xml"/>
		<sqlMap resource="./Sqls/mdm/MdmPropMaster.sqlFile.xml"/>
		<!-- -->
		<sqlMap resource="./Sqls/mdm/MdmItemMaster.sqlFile.xml"/>
		<sqlMap resource="./Sqls/mdm/MdmBufferMaster.sqlFile.xml"/>
		<sqlMap resource="./Sqls/mdm/MdmItemSiteBufferMaster.sqlFile.xml"/>
		<sqlMap resource="./Sqls/mdm/MdmBomMaster.sqlFile.xml"/>
		<sqlMap resource="./Sqls/mdm/MdmRoutingMaster.sqlFile.xml"/>
		<!-- -->
		<sqlMap resource="./Sqls/mdm/MdmWip.sqlFile.xml"/>
		<!-- -->
		<sqlMap resource="./Sqls/mdm/MdmDemand.sqlFile.xml"/>
		<sqlMap resource="./Sqls/mdm/MdmCustMaster.sqlFile.xml"/>
		<!-- -->
		<sqlMap resource="./Sqls/mdm/MdmResGroupMaster.sqlFile.xml"/>
		<sqlMap resource="./Sqls/mdm/MdmResMaster.sqlFile.xml"/>
		<sqlMap resource="./Sqls/mdm/MdmOperRes.sqlFile.xml"/>
		<sqlMap resource="./Sqls/mdm/MdmConstraint.sqlFile.xml"/>
		<sqlMap resource="./Sqls/mdm/MdmPmPlan.sqlFile.xml"/>
		<sqlMap resource="./Sqls/mdm/MdmSetupInfo.sqlFile.xml"/>
		<!-- -->
		<sqlMap resource="./Sqls/mdm/MdmCalendarMaster.sqlFile.xml"/>
		<!-- -->
		<!--
				계획 관리
		-->
		<sqlMap resource="./Sqls/plm/PlmFactorMaster.sqlFile.xml"/>
		<!-- -->
		<!--
				결과분석 및 리포트
		-->
		<sqlMap resource="./Sqls/rar/AorBomMap.sqlFile.xml"/>

		<!--
				입력/결과 데이터 조회
		-->

		<!--
				관리자 메뉴
		-->
		<sqlMap resource="./Sqls/sam/SamUser.sqlFile.xml"/>
		<sqlMap resource="./Sqls/sam/SamGroup.sqlFile.xml"/>
		<sqlMap resource="./Sqls/sam/SamMenu.sqlFile.xml"/>
		<sqlMap resource="./Sqls/sam/SamMenuMap.sqlFile.xml"/>
		<!--
				예제
		-->		
		<sqlMap resource="./Sqls/exp/Todo.sqlFile.xml"/>
    <sqlMap resource="./Sqls/exp/Gantt.sqlFile.xml"/>
    <sqlMap resource="./Sqls/exp/TrEmployee.sqlFile.xml"/>
	</sqlMaps>
</sqlMapConfig>