<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
	<settings>
		<setting useStatementNamespaces="false"/>
		<setting cacheModelsEnabled="true"/>
	</settings>

	<database>
		<provider name="sqlServer2.0"/>
		<dataSource name="Aleatorik" connectionString="${connectionString}"/>
	</database>
  
	<alias>
		<!--
				기준 정보 관리
		-->
		<typeAlias alias="MdmStage"				type="AleatorikUI.Services.DTO.mdm.MdmStage,			AleatorikUI.Services"/>      <!-- 스테이지		-->
		<typeAlias alias="MdmSite"				type="AleatorikUI.Services.DTO.mdm.MdmSite,				AleatorikUI.Services"/>      <!-- 사이트			-->
		<typeAlias alias="MdmAllocGroup"		type="AleatorikUI.Services.DTO.mdm.MdmAllocGroup,		AleatorikUI.Services"/>      <!-- 할당그룹		-->
		<typeAlias alias="MdmFactoryOper"		type="AleatorikUI.Services.DTO.mdm.MdmFactoryOper,		AleatorikUI.Services"/>      <!-- 공장운영정보	-->
		<typeAlias alias="MdmCodeGroup"			type="AleatorikUI.Services.DTO.mdm.MdmCodeGroup,		AleatorikUI.Services"/>      <!-- 코드 그룹 		-->
		<typeAlias alias="MdmCodeGroupSub1"		type="AleatorikUI.Services.DTO.mdm.MdmCodeGroupSub1,	AleatorikUI.Services"/>		 <!-- 코드 관리		-->
		<typeAlias alias="MdmProperty"			type="AleatorikUI.Services.DTO.mdm.MdmProperty,		    AleatorikUI.Services"/>      <!-- 속성 관리		-->
        <!-- -->																									 
        <typeAlias alias="MdmItem"				type="AleatorikUI.Services.DTO.mdm.MdmItem,				AleatorikUI.Services"/>      <!-- 품목 정보		-->
        <typeAlias alias="MdmBuffer"			type="AleatorikUI.Services.DTO.mdm.MdmBuffer,			AleatorikUI.Services"/>      <!-- 버퍼 정보		-->
        <typeAlias alias="MdmIsb"				type="AleatorikUI.Services.DTO.mdm.MdmIsb,				AleatorikUI.Services"/>      <!-- ISB 정보	    -->
        <typeAlias alias="MdmBom"				type="AleatorikUI.Services.DTO.mdm.MdmBom,				AleatorikUI.Services"/>      <!-- BOM MASTER	-->
        <typeAlias alias="MdmBomSub1"			type="AleatorikUI.Services.DTO.mdm.MdmBomSub1,			AleatorikUI.Services"/>      <!-- BOM DETAIL	-->
        <typeAlias alias="MdmBomSub2"			type="AleatorikUI.Services.DTO.mdm.MdmBomSub2,			AleatorikUI.Services"/>      <!-- BOM DETAIL ALT		-->
        <typeAlias alias="MdmBomSub3"			type="AleatorikUI.Services.DTO.mdm.MdmBomSub3,			AleatorikUI.Services"/>      <!-- BOM PROPERTY VALUE	-->
        <typeAlias alias="MdmRouting"			type="AleatorikUI.Services.DTO.mdm.MdmRouting,			AleatorikUI.Services"/>      <!-- ROUTING MASTER		-->
        <typeAlias alias="MdmRoutingOper"		type="AleatorikUI.Services.DTO.mdm.MdmRoutingOper,		AleatorikUI.Services"/>      <!-- ROUTING OPERATION		-->
        <typeAlias alias="MdmRoutingOperSub1"	type="AleatorikUI.Services.DTO.mdm.MdmRoutingOperSub1, AleatorikUI.Services"/>	  <!-- ROUTING OPERATION PROPERTY VALUE	-->
        <typeAlias alias="MdmBomRouting"		type="AleatorikUI.Services.DTO.mdm.MdmBomRouting,		AleatorikUI.Services"/>      <!-- BOM ROUTING	-->
        <typeAlias alias="MdmBomRoutingSub1"	type="AleatorikUI.Services.DTO.mdm.MdmBomRoutingSub1,	AleatorikUI.Services"/>	  <!-- BOM ROUTING PROPERTY VALUE	-->
        <!-- -->																									 
        <typeAlias alias="MdmWip"				type="AleatorikUI.Services.DTO.mdm.MdmWip,				AleatorikUI.Services"/>	  <!-- 재공 정보	-->
        <!-- -->																									 
        <typeAlias alias="MdmDemand"			type="AleatorikUI.Services.DTO.mdm.MdmDemand,			AleatorikUI.Services"/>      <!-- DEMAND 정보	-->
        <typeAlias alias="MdmCustInfo"			type="AleatorikUI.Services.DTO.mdm.MdmCustInfo,		AleatorikUI.Services"/>      <!-- 고객 정보		-->
        <!-- -->																									 
        <typeAlias alias="MdmResource"			type="AleatorikUI.Services.DTO.mdm.MdmResource,		AleatorikUI.Services"/>      <!-- RESOURCE MASTER		-->
        <typeAlias alias="MdmOperResource"		type="AleatorikUI.Services.DTO.mdm.MdmOperResource,	AleatorikUI.Services"/>      <!-- OPERATION RESOURCE	-->
        <typeAlias alias="MdmOperResourceSub1"	type="AleatorikUI.Services.DTO.mdm.MdmOperResourceSub1,AleatorikUI.Services"/>	  <!-- OPERATION RESOURCE PROPERTY VALUE	-->
        <typeAlias alias="MdmConstInfo"			type="AleatorikUI.Services.DTO.mdm.MdmConstInfo,		AleatorikUI.Services"/>      <!-- CONSTRAINT INFO	-->
        <typeAlias alias="MdmPmPlan"			type="AleatorikUI.Services.DTO.mdm.MdmPmPlan,			AleatorikUI.Services"/>      <!-- PM PLAN		-->
        <typeAlias alias="MdmSetupInfo"			type="AleatorikUI.Services.DTO.mdm.MdmSetupInfo,		AleatorikUI.Services"/>      <!-- SETUP INFO	-->
        <!-- -->																									 
        <typeAlias alias="MdmCalendar"			type="AleatorikUI.Services.DTO.mdm.MdmCalendar,		AleatorikUI.Services"/>      <!-- 캘린더마스터		 -->
        <typeAlias alias="MdmCalendarSub1"		type="AleatorikUI.Services.DTO.mdm.MdmCalendarSub1,	AleatorikUI.Services"/>      <!-- 캘린더상세정보	 -->
        <typeAlias alias="MdmCalendarSub2"		type="AleatorikUI.Services.DTO.mdm.MdmCalendarSub2,	AleatorikUI.Services"/>      <!-- 캘린더속성값 관리 -->
		<!--
				계획 관리
		-->

		<!--
				결과분석 및 리포트
		-->

		<!--
				입력/결과 데이터 조회
		-->

		<!--
				관리자 메뉴
		-->
		<typeAlias alias="UserInfo"				  type="AleatorikUI.Services.DTO.sys.UserInfo,    AleatorikUI.Services"/>
		<typeAlias alias="GroupInfo"			  type="AleatorikUI.Services.DTO.sys.GroupInfo,   AleatorikUI.Services"/>
		<typeAlias alias="AuthInfo"				  type="AleatorikUI.Services.DTO.sys.AuthInfo,    AleatorikUI.Services"/>
		<typeAlias alias="MenuInfo"				  type="AleatorikUI.Services.DTO.sys.MenuInfo,    AleatorikUI.Services"/>
		<typeAlias alias="MenuMapInfo"			  type="AleatorikUI.Services.DTO.sys.MenuMapInfo, AleatorikUI.Services"/>
		<!--
				예제
		-->
		<typeAlias alias="TodoInfo"				  type="AleatorikUI.Services.DTO.exp.TodoInfo,				  AleatorikUI.Services"/>
		<typeAlias alias="ResourceGantInfos"      type="AleatorikUI.Services.DTO.exp.ResourceGantInfos,      AleatorikUI.Services"/>
		<typeAlias alias="ProductionGantInfos"    type="AleatorikUI.Services.DTO.exp.ProductionGantInfos,    AleatorikUI.Services"/>
		<typeAlias alias="GetResourceGanttInfo"   type="AleatorikUI.Services.DTO.exp.GetResourceGanttInfo,   AleatorikUI.Services"/>
		<typeAlias alias="GetResourceGanttData"   type="AleatorikUI.Services.DTO.exp.GetResourceGanttData,   AleatorikUI.Services"/>
		<typeAlias alias="GetProductionGanttInfo" type="AleatorikUI.Services.DTO.exp.GetProductionGanttInfo, AleatorikUI.Services"/>
		<typeAlias alias="GetProductionGanttData" type="AleatorikUI.Services.DTO.exp.GetProductionGanttData, AleatorikUI.Services"/>
	</alias>

	<sqlMaps>
		<!--
				계획 관리
		-->
		<sqlMap resource="./Sqls/mdm/MdmStage.sqlFile.xml"/>
		<sqlMap resource="./Sqls/mdm/MdmSite.sqlFile.xml"/>
		<sqlMap resource="./Sqls/mdm/MdmAllocGroup.sqlFile.xml"/>
		<sqlMap resource="./Sqls/mdm/MdmFactoryOper.sqlFile.xml"/>
		<sqlMap resource="./Sqls/mdm/MdmCodeGroup.sqlFile.xml"/>
		<sqlMap resource="./Sqls/mdm/MdmProperty.sqlFile.xml"/>
		<!-- -->
		<sqlMap resource="./Sqls/mdm/MdmItem.sqlFile.xml"/>
		<sqlMap resource="./Sqls/mdm/MdmBuffer.sqlFile.xml"/>
		<sqlMap resource="./Sqls/mdm/MdmIsb.sqlFile.xml"/>
		<sqlMap resource="./Sqls/mdm/MdmBom.sqlFile.xml"/>
		<!--
		<sqlMap resource="./Sqls/mdm/MdmRouting.sqlFile.xml"/>
		<sqlMap resource="./Sqls/mdm/MdmRoutingOper.sqlFile.xml"/>
		<sqlMap resource="./Sqls/mdm/MdmRoutingOperSub1.sqlFile.xml"/>
		<sqlMap resource="./Sqls/mdm/MdmBomRouting.sqlFile.xml"/>
		<sqlMap resource="./Sqls/mdm/MdmBomRoutingSub1.sqlFile.xml"/>
		
		<sqlMap resource="./Sqls/mdm/MdmWip.sqlFile.xml"/>
		
		<sqlMap resource="./Sqls/mdm/MdmDemand.sqlFile.xml"/>
		<sqlMap resource="./Sqls/mdm/MdmCustInfo.sqlFile.xml"/>
		
		<sqlMap resource="./Sqls/mdm/MdmResource.sqlFile.xml"/>
		<sqlMap resource="./Sqls/mdm/MdmOperResource.sqlFile.xml"/>
		<sqlMap resource="./Sqls/mdm/MdmOperResourceSub1.sqlFile.xml"/>
		<sqlMap resource="./Sqls/mdm/MdmConstInfo.sqlFile.xml"/>
		<sqlMap resource="./Sqls/mdm/MdmPmPlan.sqlFile.xml"/>
		<sqlMap resource="./Sqls/mdm/MdmSetupInfo.sqlFile.xml"/>
		
		<sqlMap resource="./Sqls/mdm/MdmCalendar.sqlFile.xml"/>
		<sqlMap resource="./Sqls/mdm/MdmCalendarSub1.sqlFile.xml"/>
		<sqlMap resource="./Sqls/mdm/MdmCalendarSub2.sqlFile.xml"/> -->
		<!--
				결과분석 및 리포트
		-->

		<!--
				입력/결과 데이터 조회
		-->

		<!--
				관리자 메뉴
		-->
		<sqlMap resource="./Sqls/sys/User.sqlFile.xml"/>
		<sqlMap resource="./Sqls/sys/Group.sqlFile.xml"/>
		<sqlMap resource="./Sqls/sys/Menu.sqlFile.xml"/>
		<sqlMap resource="./Sqls/sys/MenuMap.sqlFile.xml"/>
		<!--
				예제
		-->		
		<sqlMap resource="./Sqls/exp/Todo.sqlFile.xml"/>
		<sqlMap resource="./Sqls/exp/Gantt.sqlFile.xml"/>
	</sqlMaps>
</sqlMapConfig>