<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
	<settings>
		<setting useStatementNamespaces="false"/>
		<setting cacheModelsEnabled="true"/>
	</settings>

	<database>
		<provider name="sqlServer2.0"/>
		<dataSource name="Aleatorik" connectionString="${connectionString}"/>
	</database>
  
	<alias>
		<!--
				기준 정보 관리
		-->
		<typeAlias alias="MdmStageMaster"		type="AleatorikUI.Services.DTO.mdm.MdmStageMaster,		AleatorikUI.Services"/>      <!-- 스테이지		-->
		<typeAlias alias="MdmSiteMaster"		type="AleatorikUI.Services.DTO.mdm.MdmSiteMaster,		AleatorikUI.Services"/>      <!-- 사이트			-->
		<typeAlias alias="MdmAllocGroupMaster"	type="AleatorikUI.Services.DTO.mdm.MdmAllocGroupMaster,	AleatorikUI.Services"/>      <!-- 할당그룹		-->
		<typeAlias alias="MdmFactoryMaster"		type="AleatorikUI.Services.DTO.mdm.MdmFactoryMaster,	AleatorikUI.Services"/>      <!-- 공장운영정보	-->
		<typeAlias alias="MdmCodeGroupMaster"	type="AleatorikUI.Services.DTO.mdm.MdmCodeGroupMaster,	AleatorikUI.Services"/>      <!-- 코드 그룹 		-->
		<typeAlias alias="MdmCodeGroupSub1"		type="AleatorikUI.Services.DTO.mdm.MdmCodeGroupSub1,	AleatorikUI.Services"/>		 <!-- 코드 관리		-->
		<typeAlias alias="MdmPropMaster"		type="AleatorikUI.Services.DTO.mdm.MdmPropMaster,	    AleatorikUI.Services"/>      <!-- 속성 관리		-->
        <!-- -->																									 
        <typeAlias alias="MdmItemMaster"		type="AleatorikUI.Services.DTO.mdm.MdmItemMaster,		AleatorikUI.Services"/>      <!-- 품목 정보		-->
        <typeAlias alias="MdmBufferMaster"		type="AleatorikUI.Services.DTO.mdm.MdmBufferMaster,		AleatorikUI.Services"/>      <!-- 버퍼 정보		-->
        <typeAlias alias="MdmIsbMaster"			type="AleatorikUI.Services.DTO.mdm.MdmIsbMaster,		AleatorikUI.Services"/>      <!-- ISB 정보	    -->
        <typeAlias alias="MdmBomMaster"			type="AleatorikUI.Services.DTO.mdm.MdmBomMaster,		AleatorikUI.Services"/>      <!-- BOM MASTER	-->
        <typeAlias alias="MdmBomSub1"			type="AleatorikUI.Services.DTO.mdm.MdmBomSub1,			AleatorikUI.Services"/>      <!-- BOM DETAIL	-->
        <typeAlias alias="MdmBomSub2"			type="AleatorikUI.Services.DTO.mdm.MdmBomSub2,			AleatorikUI.Services"/>      <!-- BOM DETAIL ALT		-->
        <typeAlias alias="MdmBomSub3"			type="AleatorikUI.Services.DTO.mdm.MdmBomSub3,			AleatorikUI.Services"/>      <!-- BOM PROPERTY VALUE	-->
        <typeAlias alias="MdmRoutingMaster"		type="AleatorikUI.Services.DTO.mdm.MdmRoutingMaster,	AleatorikUI.Services"/>      <!-- ROUTING MASTER		-->
        <typeAlias alias="MdmRoutingSub1"		type="AleatorikUI.Services.DTO.mdm.MdmRoutingSub1,		AleatorikUI.Services"/>      <!-- ROUTING OPERATION		-->
        <typeAlias alias="MdmRoutingSub2"		type="AleatorikUI.Services.DTO.mdm.MdmRoutingSub2,		AleatorikUI.Services"/>	  <!-- ROUTING OPERATION PROPERTY VALUE	-->
        <typeAlias alias="MdmBomRoutingMaster"	type="AleatorikUI.Services.DTO.mdm.MdmBomRoutingMaster,	AleatorikUI.Services"/>      <!-- BOM ROUTING	-->
        <typeAlias alias="MdmBomRoutingSub1"	type="AleatorikUI.Services.DTO.mdm.MdmBomRoutingSub1,	AleatorikUI.Services"/>	  <!-- BOM ROUTING PROPERTY VALUE	-->
        <!-- -->																									 
        <typeAlias alias="MdmWip"				type="AleatorikUI.Services.DTO.mdm.MdmWip,				AleatorikUI.Services"/>	  <!-- 재공 정보	-->
        <!-- -->																									 
        <typeAlias alias="MdmDemand"			type="AleatorikUI.Services.DTO.mdm.MdmDemand,			AleatorikUI.Services"/>      <!-- DEMAND 정보	-->
        <typeAlias alias="MdmCustInfo"			type="AleatorikUI.Services.DTO.mdm.MdmCustInfo,			AleatorikUI.Services"/>      <!-- 고객 정보		-->
        <!-- -->																									 
        <typeAlias alias="MdmResMaster"			type="AleatorikUI.Services.DTO.mdm.MdmResMaster,		AleatorikUI.Services"/>      <!-- RESOURCE MASTER		-->
        <typeAlias alias="MdmResSub1"			type="AleatorikUI.Services.DTO.mdm.MdmResSub1,			AleatorikUI.Services"/>      <!-- OPERATION RESOURCE	-->
        <typeAlias alias="MdmResSub2"			type="AleatorikUI.Services.DTO.mdm.MdmResSub2,			AleatorikUI.Services"/>	  <!-- OPERATION RESOURCE PROPERTY VALUE	-->
        <typeAlias alias="MdmConstInfo"			type="AleatorikUI.Services.DTO.mdm.MdmConstInfo,		AleatorikUI.Services"/>      <!-- CONSTRAINT INFO	-->
        <typeAlias alias="MdmPmPlan"			type="AleatorikUI.Services.DTO.mdm.MdmPmPlan,			AleatorikUI.Services"/>      <!-- PM PLAN		-->
        <typeAlias alias="MdmSetupInfo"			type="AleatorikUI.Services.DTO.mdm.MdmSetupInfo,		AleatorikUI.Services"/>      <!-- SETUP INFO	-->
        <!-- -->																									 
        <typeAlias alias="MdmCalMaster"			type="AleatorikUI.Services.DTO.mdm.MdmCalMaster,		AleatorikUI.Services"/>      <!-- 캘린더마스터		 -->
        <typeAlias alias="MdmCalSub1"			type="AleatorikUI.Services.DTO.mdm.MdmCalSub1,			AleatorikUI.Services"/>      <!-- 캘린더상세정보	 -->
        <typeAlias alias="MdmCalSub2"			type="AleatorikUI.Services.DTO.mdm.MdmCalSub2,			AleatorikUI.Services"/>      <!-- 캘린더속성값 관리 -->
		<!--
				계획 관리
		-->

		<!--
				결과분석 및 리포트
		-->

		<!--
				입력/결과 데이터 조회
		-->

		<!--
				관리자 메뉴
		-->
		<typeAlias alias="UserInfo"				  type="AleatorikUI.Services.DTO.sys.UserInfo,    AleatorikUI.Services"/>
		<typeAlias alias="GroupInfo"			  type="AleatorikUI.Services.DTO.sys.GroupInfo,   AleatorikUI.Services"/>
		<typeAlias alias="AuthInfo"				  type="AleatorikUI.Services.DTO.sys.AuthInfo,    AleatorikUI.Services"/>
		<typeAlias alias="MenuInfo"				  type="AleatorikUI.Services.DTO.sys.MenuInfo,    AleatorikUI.Services"/>
		<typeAlias alias="MenuMapInfo"			  type="AleatorikUI.Services.DTO.sys.MenuMapInfo, AleatorikUI.Services"/>
		<!--
				예제
		-->
		<typeAlias alias="TodoInfo"				  type="AleatorikUI.Services.DTO.exp.TodoInfo,				  AleatorikUI.Services"/>
		<typeAlias alias="ResourceGantInfos"      type="AleatorikUI.Services.DTO.exp.ResourceGantInfos,      AleatorikUI.Services"/>
		<typeAlias alias="ProductionGantInfos"    type="AleatorikUI.Services.DTO.exp.ProductionGantInfos,    AleatorikUI.Services"/>
		<typeAlias alias="GetResourceGanttInfo"   type="AleatorikUI.Services.DTO.exp.GetResourceGanttInfo,   AleatorikUI.Services"/>
		<typeAlias alias="GetResourceGanttData"   type="AleatorikUI.Services.DTO.exp.GetResourceGanttData,   AleatorikUI.Services"/>
		<typeAlias alias="GetProductionGanttInfo" type="AleatorikUI.Services.DTO.exp.GetProductionGanttInfo, AleatorikUI.Services"/>
		<typeAlias alias="GetProductionGanttData" type="AleatorikUI.Services.DTO.exp.GetProductionGanttData, AleatorikUI.Services"/>
	</alias>

	<sqlMaps>
		<!--
				계획 관리
		-->
		<sqlMap resource="./Sqls/mdm/MdmStageMaster.sqlFile.xml"/>
		<sqlMap resource="./Sqls/mdm/MdmSiteMaster.sqlFile.xml"/>
		<sqlMap resource="./Sqls/mdm/MdmAllocGroupMaster.sqlFile.xml"/>
		<sqlMap resource="./Sqls/mdm/MdmFactoryMaster.sqlFile.xml"/>
		<sqlMap resource="./Sqls/mdm/MdmCodeGroupMaster.sqlFile.xml"/>
		<sqlMap resource="./Sqls/mdm/MdmPropMaster.sqlFile.xml"/>
		<!-- -->
		<sqlMap resource="./Sqls/mdm/MdmItemMaster.sqlFile.xml"/>
		<sqlMap resource="./Sqls/mdm/MdmBufferMaster.sqlFile.xml"/>
		<sqlMap resource="./Sqls/mdm/MdmIsbMaster.sqlFile.xml"/>
		<sqlMap resource="./Sqls/mdm/MdmBomMaster.sqlFile.xml"/>
		<sqlMap resource="./Sqls/mdm/MdmRoutingMaster.sqlFile.xml"/>
		<!--
		<sqlMap resource="./Sqls/mdm/MdmBomRouting.sqlFile.xml"/>
		<sqlMap resource="./Sqls/mdm/MdmBomRoutingSub1.sqlFile.xml"/>
		
		<sqlMap resource="./Sqls/mdm/MdmWip.sqlFile.xml"/>
		
		<sqlMap resource="./Sqls/mdm/MdmDemand.sqlFile.xml"/>
		<sqlMap resource="./Sqls/mdm/MdmCustInfo.sqlFile.xml"/>
		
		<sqlMap resource="./Sqls/mdm/MdmResource.sqlFile.xml"/>
		<sqlMap resource="./Sqls/mdm/MdmOperResource.sqlFile.xml"/>
		<sqlMap resource="./Sqls/mdm/MdmOperResourceSub1.sqlFile.xml"/>
		<sqlMap resource="./Sqls/mdm/MdmConstInfo.sqlFile.xml"/>
		<sqlMap resource="./Sqls/mdm/MdmPmPlan.sqlFile.xml"/>
		<sqlMap resource="./Sqls/mdm/MdmSetupInfo.sqlFile.xml"/>
		
		<sqlMap resource="./Sqls/mdm/MdmCalendar.sqlFile.xml"/>
		<sqlMap resource="./Sqls/mdm/MdmCalendarSub1.sqlFile.xml"/>
		<sqlMap resource="./Sqls/mdm/MdmCalendarSub2.sqlFile.xml"/> -->
		<!--
				결과분석 및 리포트
		-->

		<!--
				입력/결과 데이터 조회
		-->

		<!--
				관리자 메뉴
		-->
		<sqlMap resource="./Sqls/sys/User.sqlFile.xml"/>
		<sqlMap resource="./Sqls/sys/Group.sqlFile.xml"/>
		<sqlMap resource="./Sqls/sys/Menu.sqlFile.xml"/>
		<sqlMap resource="./Sqls/sys/MenuMap.sqlFile.xml"/>
		<!--
				예제
		-->		
		<sqlMap resource="./Sqls/exp/Todo.sqlFile.xml"/>
		<sqlMap resource="./Sqls/exp/Gantt.sqlFile.xml"/>
	</sqlMaps>
</sqlMapConfig>