<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
	<settings>
		<setting useStatementNamespaces="false"/>
		<setting cacheModelsEnabled="true"/>
	</settings>

	<database>
		<!-- <provider name="MySql"/>
		<dataSource name="myDB" connectionString="${connectionString}"/> -->
		
		<!--<provider name="oracle19.1"/>
		<dataSource name="sjhtest" connectionString="${connectionString}"/>-->

		<!--<provider name="PostgreSql0.99.1.0"/>
		<dataSource name="postgres" connectionString="${connectionString}"/>-->

		<provider name="sqlServer2.0"/>
		<dataSource name="Template" connectionString="${connectionString}"/>
		
		<!--<provider name="SQLite3"/>
		<dataSource name="sjhtest" connectionString="${connectionString}"/>-->
	</database>

	<alias>
											<!-- namespace.object명, namespace -->
    <typeAlias alias="TodoInfo" type="MozartUI.Services.Template.DTO.TodoInfo, MozartUI.Services.Template"/>
    <typeAlias alias="UserInfo" type="MozartUI.Services.Template.DTO.UserInfo, MozartUI.Services.Template"/>
    <typeAlias alias="GroupInfo" type="MozartUI.Services.Template.DTO.GroupInfo, MozartUI.Services.Template"/>
    <typeAlias alias="AuthInfo" type="MozartUI.Services.Template.DTO.AuthInfo, MozartUI.Services.Template"/>
    <typeAlias alias="MenuInfo" type="MozartUI.Services.Template.DTO.MenuInfo, MozartUI.Services.Template"/>
    <typeAlias alias="MenuMapInfo" type="MozartUI.Services.Template.DTO.MenuMapInfo, MozartUI.Services.Template"/>

    <typeAlias alias="ResourceGantInfos" type="MozartUI.Services.Template.DTO.ResourceGantInfos, MozartUI.Services.Template"/>
		<typeAlias alias="ProductionGantInfos" type="MozartUI.Services.Template.DTO.ProductionGantInfos, MozartUI.Services.Template"/>
		<typeAlias alias="GetResourceGanttInfo" type="MozartUI.Services.Template.DTO.GetResourceGanttInfo, MozartUI.Services.Template"/> 
		<typeAlias alias="GetResourceGanttData" type="MozartUI.Services.Template.DTO.GetResourceGanttData, MozartUI.Services.Template"/> 
		<typeAlias alias="GetProductionGanttInfo" type="MozartUI.Services.Template.DTO.GetProductionGanttInfo, MozartUI.Services.Template"/> 
		<typeAlias alias="GetProductionGanttData" type="MozartUI.Services.Template.DTO.GetProductionGanttData, MozartUI.Services.Template"/> 
	</alias>

	<sqlMaps>
    <sqlMap resource="./Sqls/Todo.sqlFile.xml"/>
    <sqlMap resource="./Sqls/User.sqlFile.xml"/>
    <sqlMap resource="./Sqls/Group.sqlFile.xml"/>
    <sqlMap resource="./Sqls/Menu.sqlFile.xml"/>
    <sqlMap resource="./Sqls/MenuMap.sqlFile.xml"/>
		<sqlMap resource="./Sqls/Gantt.sqlFile.xml"/>
	</sqlMaps>
</sqlMapConfig>